<center>
    <img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/Logos/organization_logo/organization_logo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List libraries commonly used by Data Scientists
- List development environment open source tools used in Data Science
- Show arithmetic expression examples

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Java
4. SQL

Some of the commonly used libraries used by Data Scientists include:
1. scikit-learn
2. TensorFlow
3. PyTorch
4. Matplotlib

| Data Science Tools |
| ----------- |
| RStudio |
| Apache Hadoop |
| Apache Spark |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
time_in_minutes = 200
time_in_hours = 200/60
time_in_hours

3.3333333333333335

## Author
Aisyah Nurul Izzah Adma